<h1><strong>Investigate Hotel Business using Data Visualization</strong></h1>

<p>
    Created by : <strong>Faisal Adam Yudithia</strong> (<a href="https://linktr.ee/faisalydth">Personal Details</a>)
</p>

In [1]:
# import library
import pandas as pd
pd.set_option('display.max_columns', 100)
import numpy as np
import matplotlib.pyplot as plt

<h2>Data Preprocessing</h2>

In [2]:
# load dataset
df = pd.read_csv('__dataset/hotel_bookings_data.csv')
df.head(2)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_weekdays_nights,adults,children,babies,meal,city,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status
0,Resort Hotel,0,342,2017,September,27,1,0,0,2,0.0,0,Breakfast,Kota Denpasar,Direct,Direct,0,0,0,3,No Deposit,NaN,NaN,0,Personal,0.0,0,0,Check-Out
1,Resort Hotel,0,737,2017,September,27,1,0,0,2,0.0,0,Breakfast,Kota Denpasar,Direct,Direct,0,0,0,4,No Deposit,NaN,NaN,0,Personal,0.0,0,0,Check-Out

In [3]:
# backup data
df_raw = df.copy()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 29 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_weekdays_nights        119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  city                            118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  booking_changes                 119390 non-null  int64
 20  deposit_type                    119390 non-null  object
 21  agent                           103050 non-null  float64
 22  company                         6797 non-null    float64
 23  days_in_waiting_list            119390 non-null  int64
 24  customer_type                   119390 non-null  object
 25  adr                             119390 non-null  float64
 26  required_car_parking_spaces     119390 non-null  int64
 27  total_of_special_requests       119390 non-null  int64
 28  reservation_status              119390 non-null  object
dtypes: float64(4), int64(16), object(9)
memory usage: 26.4+ MB

In [5]:
# descriptive statistics
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
hotel,119390,2,City Hotel,79330,NaN,NaN,NaN,NaN,NaN,NaN,NaN
is_canceled,119390.0,NaN,NaN,NaN,0.370416,0.482918,0.0,0.0,0.0,1.0,1.0
lead_time,119390.0,NaN,NaN,NaN,104.011416,106.863097,0.0,18.0,69.0,160.0,737.0
arrival_date_year,119390.0,NaN,NaN,NaN,2018.156554,0.707476,2017.0,2018.0,2018.0,2019.0,2019.0
arrival_date_month,119390,12,October,13877,NaN,NaN,NaN,NaN,NaN,NaN,NaN
arrival_date_week_number,119390.0,NaN,NaN,NaN,27.165173,13.605138,1.0,16.0,28.0,38.0,53.0
arrival_date_day_of_month,119390.0,NaN,NaN,NaN,15.798241,8.780829,1.0,8.0,16.0,23.0,31.0
stays_in_weekend_nights,119390.0,NaN,NaN,NaN,0.927599,0.998613,0.0,0.0,1.0,2.0,19.0
stays_in_weekdays_nights,119390.0,NaN,NaN,NaN,2.500302,1.908286,0.0,1.0,2.0,3.0,50.0
adults,119390.0,NaN,NaN,NaN,1.856403,0.579261,0.0,2.0,2.0,2.0,55.0
children,119386.0,NaN,NaN,NaN,0.10389,0.398561,0.0,0.0,0.0,0.0,10.0
babies,119390.0,NaN,NaN,NaN,0.007949,0.097436,0.0,0.0,0.0,0.0,10.0
meal,119390,5,Breakfast,92310,NaN,NaN,NaN,NaN,NaN,NaN,NaN
city,118902,177,Kota Denpasar,48590,NaN,NaN,NaN,NaN,NaN,NaN,NaN
market_segment,119390,8,Online TA,56477,NaN,NaN,NaN,NaN,NaN,NaN,NaN
distribution_channel,119390,5,TA/TO,97870,NaN,NaN,NaN,NaN,NaN,NaN,NaN
is_repeated_guest,119390.0,NaN,NaN,NaN,0.031912,0.175767,0.0,0.0,0.0,0.0,1.0
previous_cancellations,119390.0,NaN,NaN,NaN,0.087118,0.844336,0.0,0.0,0.0,0.0,26.0
previous_bookings_not_canceled,119390.0,NaN,NaN,NaN,0.137097,1.497437,0.0,0.0,0.0,0.0,72.0
booking_changes,119390.0,NaN,NaN,NaN,0.221124,0.652306,0.0,0.0,0.0,0.0,21.0
deposit_type,119390,3,No Deposit,104641,NaN,NaN,NaN,NaN,NaN,NaN,NaN
agent,103050.0,NaN,NaN,NaN,86.693382,110.774548,1.0,9.0,14.0,229.0,535.0
company,6797.0,NaN,NaN,NaN,189.266735,131.655015,6.0,62.0,179.0,270.0,543.0
days_in_waiting_list,119390.0,NaN,NaN,NaN,2.321149,17.594721,0.0,0.0,0.0,0.0,391.0
customer_type,119390,4,Personal,89613,NaN,NaN,NaN,NaN,NaN,NaN,NaN
adr,119390.0,NaN,NaN,NaN,101.831122,50.53579,-6.38,69.29,94.575,126.0,5400.0
required_car_parking_spaces,119390.0,NaN,NaN,NaN,0.062518,0.245291,0.0,0.0,0.0,0.0,8.0
total_of_special_requests,119390.0,NaN,NaN,NaN,0.571363,0.792798,0.0,0.0,0.0,1.0,5.0
reservation_status,119390,3,Check-Out,75166,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<h3>Handling Missing Data</h3>

In [6]:
# missing data checking
missing_data = df.isna().sum().to_frame().rename({0:'missing_cnt'}, axis=1)
missing_data = missing_data.loc[missing_data['missing_cnt']>0]
missing_data['missing_pct'] = missing_data['missing_cnt']/len(df)*100
missing_data = missing_data.join(df.dtypes.to_frame().rename({0:'dtype'}, axis=1), how='left')
missing_data

          missing_cnt  missing_pct    dtype
children            4     0.003350  float64
city              488     0.408744   object
agent           16340    13.686238  float64
company        112593    94.306893  float64

<p><strong>Drop the company column is the best choice because more than 90% data is null.</strong></p>

In [7]:
df = df.drop(['company'], axis=1)

<p><strong>Child column is continuous data, fill null with median.</strong></p>

In [8]:
df['children'] = df['children'].fillna(df['children'].median())

<p><strong>City and agent columns is discrete data, fill null with mode.</strong></p>

In [9]:
df['city'] = df['city'].fillna(df['city'].mode().values[0])
df['agent'] = df['agent'].fillna(df['agent'].mode().values[0])

In [10]:
df.isna().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_weekdays_nights          0
adults                            0
children                          0
babies                            0
meal                              0
city                              0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
booking_changes                   0
deposit_type                      0
agent                             0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
dtype: int64

In [11]:
# unique data checking for string columns
obj_cols = df.dtypes.to_frame().loc[df.dtypes.to_frame()[0]=='object'].index.to_list()
for col in obj_cols:
    print(col.upper())
    print(df[col].unique(), end='\n\n')

HOTEL
['Resort Hotel' 'City Hotel']

ARRIVAL_DATE_MONTH
['September' 'October' 'November' 'December' 'January' 'February' 'March'
 'April' 'May' 'June' 'July' 'August']

MEAL
['Breakfast' 'Full Board' 'Dinner' 'No Meal' 'Undefined']

CITY
['Kota Denpasar' 'Kabupaten Bangka' 'Kabupaten Sleman' 'Kota Batu'
 'Kota Malang' 'Kota Yogyakarta' 'Kabupaten Tangerang' 'Kota Semarang'
 'Kota Serang' 'Kota Tangerang' 'Kota Bogor' 'Kabupaten Bandung'
 'Kabupaten Magelang' 'Kabupaten Sumedang' 'Kota Jakarta Timur'
 'Kabupaten Purwakarta' 'Kabupaten Kepulauan Seribu' 'Kabupaten Belitung'
 'Kota Jakarta Pusat' 'Kota Jakarta Selatan' 'Kota Surabaya'
 'Kota Jakarta Utara' 'Kota Gorontalo' 'Kota Jambi' 'Kota Jakarta Barat'
 'Kota Bengkulu' 'Kabupaten Bandung Barat' 'Kabupaten Bekasi'
 'Kabupaten Bogor' 'Kabupaten Ciamis' 'Kabupaten Cianjur'
 'Kabupaten Cirebon' 'Kota Cimahi' 'Kabupaten Indramayu'
 'Kabupaten Karawang' 'Kabupaten Kuningan' 'Kabupaten Majalengka'
 'Kabupaten Serang' 'Kota Pangkal Pinang' 'Kabupaten Subang'
 'Kabupaten Sukabumi' 'Kabupaten Garut' 'Kabupaten Tasikmalaya'
 'Kota Bandung' 'Kota Banjar' 'Kota Bekasi' 'Kabupaten Pandeglang'
 'Kabupaten Pangandaran' 'Kota Cirebon' 'Kota Depok' 'Kota Sukabumi'
 'Kota Tasikmalaya' 'Kabupaten Banjarnegara' 'Kabupaten Banyumas'
 'Kabupaten Batang' 'Kabupaten Blora' 'Kabupaten Boyolali'
 'Kabupaten Brebes' 'Kabupaten Cilacap' 'Kabupaten Demak'
 'Kabupaten Grobogan' 'Kabupaten Jepara' 'Kabupaten Karanganyar'
 'Kabupaten Kebumen' 'Kabupaten Kendal' 'Kabupaten Klaten'
 'Kabupaten Kudus' 'Kota Kediri' 'Kabupaten Pati' 'Kabupaten Pekalongan'
 'Kabupaten Pemalang' 'Kabupaten Purbalingga' 'Kabupaten Purworejo'
 'Kabupaten Rembang' 'Kabupaten Semarang' 'Kabupaten Sragen'
 'Kabupaten Sukoharjo' 'Kabupaten Tegal' 'Kabupaten Temanggung'
 'Kabupaten Wonogiri' 'Kabupaten Wonosobo' 'Kota Magelang'
 'Kota Pekalongan' 'Kota Salatiga' 'Kabupaten Bantul' 'Kota Surakarta'
 'Kota Tegal' 'Kabupaten Bangkalan' 'Kabupaten Banyuwangi'
 'Kabupaten Blitar' 'Kabupaten Bojonegoro' 'Kabupaten Bondowoso'
 'Kabupaten Gresik' 'Kabupaten Jember' 'Kabupaten Jombang'
 'Kabupaten Kediri' 'Kabupaten Lamongan' 'Kabupaten Lumajang'
 'Kabupaten Madiun' 'Kabupaten Magetan' 'Kabupaten Kerinci'
 'Kabupaten Mojokerto' 'Kabupaten Nganjuk' 'Kabupaten Ngawi'
 'Kabupaten Pacitan' 'Kabupaten Pamekasan' 'Kabupaten Pasuruan'
 'Kabupaten Ponorogo' 'Kabupaten Probolinggo' 'Kabupaten Sampang'
 'Kabupaten Sidoarjo' 'Kabupaten Situbondo' 'Kabupaten Sumenep'
 'Kabupaten Trenggalek' 'Kabupaten Tuban' 'Kabupaten Tulungagung'
 'Kabupaten Gunung Kidul' 'Kota Blitar' 'Kota Tangerang Selatan'
 'Kota Madiun' 'Kota Cilegon' 'Kota Mojokerto' 'Kota Pasuruan'
 'Kota Probolinggo' 'Kabupaten Malang' 'Kabupaten Kapuas Hulu'
 'Kabupaten Ketapang' 'Kota Pontianak' 'Kabupaten Banjar'
 'Kabupaten Barito Kuala' 'Kota Banjarbaru' 'Kota Banjarmasin'
 'Kabupaten Kapuas' 'Kabupaten Katingan' 'Kabupaten Kotawaringin Barat'
 'Kabupaten Kotawaringin Timur' 'Kabupaten Musi Banyuasin'
 'Kabupaten Murung Raya' 'Kota Palembang' 'Kabupaten Seruyan'
 'Kabupaten Sukamara' 'Kota Palangka Raya' 'Kota Balikpapan'
 'Kota Bontang' 'Kota Samarinda' 'Kabupaten Berau' 'Kabupaten Kutai Barat'
 'Kota Tarakan' 'Kota Batam' 'Kabupaten Pesisir Barat'
 'Kabupaten Pringsewu' 'Kota Bandar Lampung' 'Kota Lampung Timur'
 'Kota Ambon' 'Kabupaten Kepulauan Aru' 'Kabupaten Maluku Barat Daya'
 'Kabupaten Maluku Tengah' 'Kabupaten Maluku Tenggara'
 'Kabupaten Maluku Tenggara Barat' 'Kabupaten Halmahera Selatan'
 'Kota Ternate' 'Kota Tidore Kepulauan' 'Kabupaten Aceh Jaya'
 'Kota Banda Aceh' 'Kota Lhokseumawe' 'Kota Sabang'
 'Kabupaten Lombok Barat' 'Kabupaten Sumbawa' 'Kota Mataram'
 'Kabupaten Flores Timur' 'Kabupaten Timor Tengah Selatan' 'Kota Jayapura'
 'Kota Bukittinggi' 'Kota Padang' 'Kabupaten Nias' 'Kota Binjai' 'Medan']

MARKET_SEGMENT
['Direct' 'Corporate' 'Online TA' 'Offline TA/TO' 'Complementary' 'Groups'
 'Undefined' 'Aviation']

DISTRIBUTION_CHANNEL
['Direct' 'Corporate' 'TA/TO' 'Undefined' 'GDS']

DEPOSIT_TYPE
['No Deposit' 'Refundable' 'Non Refund']

CUSTOMER_TYPE
['Personal' 'Contract' 'Family' 'Bussiness']

RESERVATION_STATUS
['Check-Out' 'Canceled' 'No-Show']

<p>
    <strong>There are undefined value in meal and distribution_channel columns.</strong><br>
    Let's check by counting their values.
</p>

In [12]:
meal_cnt = df['meal'].value_counts().to_frame().rename({'meal':'count'}, axis=1)
meal_pct = df['meal'].value_counts(normalize=True).to_frame().rename({'meal':'percentage'}, axis=1)
meal_cnt.join(meal_pct, how='inner')

            count  percentage
Breakfast   92310    0.773180
Dinner      14463    0.121141
No Meal     10650    0.089203
Undefined    1169    0.009791
Full Board    798    0.006684

In [13]:
distribution_channel_cnt = df['distribution_channel'].value_counts().to_frame().rename({'distribution_channel':'count'}, axis=1)
distribution_channel_pct = df['distribution_channel'].value_counts(normalize=True).to_frame().rename({'distribution_channel':'percentage'}, axis=1)
distribution_channel_cnt.join(distribution_channel_pct, how='inner')

           count  percentage
TA/TO      97870    0.819750
Direct     14645    0.122665
Corporate   6677    0.055926
GDS          193    0.001617
Undefined      5    0.000042

<p><strong>Fill undefined value with mode.</strong></p>

In [14]:
mode_value = df['meal'].mode().values[0]
df['meal'] = df['meal'].transform(lambda x: mode_value if x == 'Undefined' else x)

In [15]:
mode_value = df['distribution_channel'].mode().values[0]
df['distribution_channel'] = df['distribution_channel'].transform(lambda x: mode_value if x == 'Undefined' else x)

In [16]:
 df['meal'].value_counts(normalize=True)

Breakfast     0.782972
Dinner        0.121141
No Meal       0.089203
Full Board    0.006684
Name: meal, dtype: float64

In [17]:
 df['distribution_channel'].value_counts(normalize=True)

TA/TO        0.819792
Direct       0.122665
Corporate    0.055926
GDS          0.001617
Name: distribution_channel, dtype: float64

<h3>Handling Duplicated Data</h3>

In [18]:
len(df) # before

119390

In [19]:
df.duplicated().sum()

33295

In [20]:
df = df.drop_duplicates()

In [21]:
len(df) # after

86095